// Advantage-section 

.advantage-list {
  padding: 0;
  @extend %list; 
  text-align: center;
}

.advantage-list__title {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.advantage-list__text {
  color: var(--paragraph-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0;
  text-align: start;
}
.advantage-list__item{
  margin-bottom: 30px;
}
.advantage-list__icon {
  background-color: var(--team-background-color);
  color: currentColor;
  width: 450px;
  height: 120px;
  border-radius: 4px;
  
  margin-bottom: 30px;
  padding: 0;
  @include flex ($jc: center, $ai: center);
}

// For tablet
.advantage-list {
  @media screen and (min-width: 768px) {
  flex-wrap: wrap;
  display: flex;
  }
}
.advantage-list__icon {
  @media screen and (min-width: 768px) {
  width: 354px;
  height: 120px;
  }
}
.advantage-list__text {
  @media screen and (min-width: 768px) {
    width: 354px;
}
}
.advantage-list__item {
  @media screen and (min-width: 768px) {
  &:not(:nth-child(-n + 2)) {
  margin-top: 30px;
  }
  &:not(:nth-child(2n)) {
  margin-right: 30px;
  }
 }
}