// Footer-section

.footer {
  background-color: var(--footor-background-color);
  padding: 60px 0;
}
.footer__container { 
  @extend .container;
  text-align: center;
}
.footer__title {
  margin-top: 0;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--body-background-color);
  padding-top: 60px;
  margin-bottom: 20px;
}
.address__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  padding-top: 20px;
  padding-left: 0;

  @extend %list;
}
.address__item:not(:last-child) {
  margin-bottom: 8px;
}
.address__link {
  @include transition (color);

   &:hover, &:focus {
    color: var(--accent-color);
  }
  @extend %link;
}
.address__link--white {
  color: var(--body-background-color);
}
.address__link--info {
  color: var(--footer-info-color);
}
.footer__item {
  align-items: center;
  text-align: center;
}
// TABLET
.footer__title {
   @media screen and (min-width: 768px) {
     padding-top: 0;
   }
}
// TABLET
.footer__item--first {
  @media screen and (min-width: 768px) {
    margin-right: 165px;
    margin-left: 76px;
  }
}
// MOBILE
.footer__item--third {
  padding-left: 0;
  margin-left: auto;
}
// TABLET
.footer__item--first-second {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
}
// TABLET
.footer__item--third {
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
}