
.portfolio-filter {
   @extend %list;
   @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    padding: 0 0 40px;
}
}
.portfolio-filter {
  @media screen and (min-width:768px) {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
}
.portfolio-filter__item {
 &:not(:last-child) {
   margin-right: 8px;
 }
}
.portfolio-filter__item {
   margin-bottom: 15px;
}
// Portfolio-cards

.portfolio-items {
  list-style: none;
  padding: 60px, 0, 0, 0;
  padding-left: 0;
  margin-top: 0;
}

.portfolio-items__card:not(:last-child) {
  margin-bottom: 30px;
}

.portfolio-items__card {
  @media screen and (min-width:1200px) {
  &:not(:nth-child(-n + 3)) {
  margin-top: 30px;
  }
  &:not(:nth-child(3n)) {
  margin-right: 30px;
  }
}
}
.portfolio-items__card {
  width: 354px;
  height: 440px;
  @media screen and (min-width:768px) {
  &:not(:nth-child(-n + 2)) {
  margin-top: 30px;
  }
  &:not(:nth-child(2n)) {
  margin-right: 30px;
  }
}
}
.portfolio-items__description {
  border: var(--card-border-color);
  @include border ($use-bt: none);
  max-width: 450px;
}
.portfolio-items__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  padding: 20px 24px 4px;
  margin: 0;
  
  color: var(--primary-text-color);
}
.portfolio-items__text {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  padding: 0 24px 20px;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 322px;
}
.portfolio-items__link {
  text-decoration: none;
  display: block;

  @include transition (transform);
  @include transition (opacity);
  @include transition (box-shadow);

    &:hover, &:focus {
       box-shadow: var(--portfolio-card-shadow);
    }
    &:hover .overlay,
    &:focus .overlay {
      opacity: 1;
      transform: translateY(-100%);
    }
  }  
.portfolio-items__thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  width: 450px;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(33, 150, 243, 0.9),
    rgba(33, 150, 243, 0.9)
  );
  opacity: 0;
  @include transition (transform);
}
.overlay {
  @media screen and (min-width:768px) {
    width: 354px;
  }
}
.overlay__text {
  padding: 63px 24px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--body-background-color);
}