
// Hero-section
.main-section {
  background-color: var(--footor-background-color);
  color: var(--body-background-color);
  margin-top: 0;
  padding: 118px 0 198px;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    image(srcset="./img/hero-480px.jpg 1x, ./img/hero-768px.jpg 2x")
    url(../img/hero-480px.jpg);

  background-repeat: no-repeat;
  background-position: center;
 }
//  MOBILE
 .main-section {
   @media screen and (min-width:480px) {
    background-size: 480px;
  }
 }
//  TABLET
 .main-section {
   @media screen and (min-width:768px) {
    background-size: 768px;
  }
 }
// Advantage-section
.advantage-section {
    padding-top: 60px; 
}
.advantage-section__container {
  @extend .container; 
}
// MOBILE + TABLET
// Product-section
.product-section {
   @media screen and (max-width:1199px) {
  display: none;
}
}
.product-section {
   @media screen and (min-width:1200px) {
  display: block;
}
}
// Team-section
.team-section {
  background-color: var(--team-background-color);
  padding: 60px 0;
}
.team-section__container {
  @extend .container;
}

// Clients-section
.clients-section {
  padding: 60px 0 0;
}
.clients-section__container {
  @extend .container;
}

// Portfolio-section
.portfolio-section {
  padding: 60px 0 0 0; 
}
.portfolio-section__container {
  @extend .container;
}
.portfolio-section {
  @media screen and (min-width:1200px) {
    padding: 94px 0; 
  } 
}