
// Hero-section
.main-section {
  background-color: var(--footor-background-color);
  color: var(--body-background-color);
  margin-top: 0;
  padding: 118px 0 198px;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
 }
 .main-section {
   @media screen and (min-width:480px) {
    background-size: 480px;
  }
 }

// Advantage-section
.advantage-section {
    padding-top: 60px; 
}
.advantage-section__container {
  @extend .container; 
}

// Product-section

// Team-section
.team-section {
  background-color: var(--team-background-color);
  padding: 60px 0;
}
.team-section__container {
  @extend .container;
}

// Clients-section
.clients-section {
  padding: 60px 0 0;
}
.clients-section__container {
  @extend .container;
}

// Portfolio-section
.portfolio-section {
  padding: 94px 0; 
}
.portfolio-section__container {
  @extend .container;
}