
// Footer subscribe-form
// MOBILE
.subscribe-form {
  & .primary-button {
  padding: 0;
  align-items: center;
  margin-left: 12px;
  }
}
.subscribe-form {
   @media screen and (min-width: 768px) {
     padding-left: 166px;
     padding-right: 152px;
     display: block;
   }
}
.subscribe-form {
  @media screen and (min-width: 1200px) {
  display: flex;
  }
}
.subscribe-form__input {
  width: 450px;
  height: 50px;
  border-radius: 4px;

  @include border (1px, rgba(255, 255, 255, 0.3));

  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 15px 0 15px 16px;
  margin-bottom: 20px;
  background-color: transparent;

  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
 @include transition (border-color);

  &:hover, &:focus {
    border-color: var(--accent-color);
  }
}
.subscribe-form__input {
  @media screen and (min-width: 1200px) {
  width: 358px;
  }
}
.subscribe-form__text {
  padding-left: 29px;
  padding-right: 10px;
}
.subscribe-form__icon {
  padding: 0;
}